In [1]:
import pandas as pd
from scipy import spatial
from openpyxl import load_workbook
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.decomposition import TruncatedSVD
from sklearn.preprocessing import Normalizer

/Users/kylieleblancKylie/anaconda/envs/spacy/lib/python3.7/site-packages/sklearn/utils/__init__.py:4: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Sequence

In [6]:
clean_filepath = "/Users/kylieleblancKylie/domino/docsim/data/clean/aera/"
table_filepath = "/Users/kylieleblancKylie/domino/docsim/results/"

In [7]:
docs = pd.read_csv(clean_filepath + 'text_aera_open.csv')
docs = docs.set_index('doc')
docs.sample(5)

                                                                       text
doc
10.1177/2332858419884891  Over the past decade, U.S. immigration enforce...
10.1177/2332858419887735  This special topic is intended to advance rese...
10.1177/2332858419883571  Research consistently has found teachers’ use ...
10.1177/2332858419887736  Academic behaviors such as attendance are high...
10.1177/2332858419883822  Children develop their language when they expl...

In [17]:
def similarity(df, matrix):
    for maindoc in list(matrix.index):
        pairwise_sim = []
        for doc in list(matrix.index):
            sim = 1 - spatial.distance.cosine(matrix.loc[maindoc], matrix.loc[doc])
            pairwise_sim.append(sim)
        average = (sum(pairwise_sim) - 1)/(len(pairwise_sim) - 1) # don't include relationship with self
        df.at[maindoc, 'doc_sim'] = average
    df.doc_sim.mean()
    return df

In [18]:
file = table_filepath + 'AERA Results.xlsx'
wb = load_workbook(file)
ws = wb.active

# No pre-processing

In [19]:
results_corpus = docs.copy()
results_corpus.sample()

                                                                       text
doc
10.1177/2332858419880521  Efforts to improve teachers’ knowledge and to ...

In [20]:
matrix_corpus = pd.read_csv(clean_filepath + 'matrix_open.csv')
matrix_corpus = matrix_corpus.set_index('doc')
matrix_corpus.sample(5)

,16,1990s,1998,1999,20,2000,2005,2006,2007,2008,...,within,word,work,workers,worse,year,years,young,younger,youth
doc,,,,,,,,,,,,,,,,,,,,,
10.1177/2332858419887736,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
10.1177/2332858419875440,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10.1177/2332858419879448,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
10.1177/2332858419887735,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10.1177/2332858419879446,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [21]:
#within_study_mean(results_corpus, 'spring', '2017-18', matrix_corpus)
#within_study_mean(results_corpus, 'fall', '2018-19', matrix_corpus)
similarity(results_corpus,  matrix_corpus)
value = results_corpus.doc_sim.mean().round(2)
print(value)
ws.cell(row= 2, column= 2).value = value
wb.save(file)
results_corpus.sample(5)

0.45

,text,doc_sim
doc,,
10.1177/2332858419883822,Children develop their language when they expl...,0.507582
10.1177/2332858419887736,Academic behaviors such as attendance are high...,0.377512
10.1177/2332858419875440,There is growing interest in the relation betw...,0.439461
10.1177/2332858419879448,Reconceiving relationships between universitie...,0.467872
10.1177/2332858419880521,Efforts to improve teachers’ knowledge and to ...,0.450774

# Remove stop words

In [22]:
results_corpus_stop = docs.copy()
results_corpus_stop.sample()

                                                                       text
doc
10.1177/2332858419875440  There is growing interest in the relation betw...

In [23]:
matrix_corpus_stop = pd.read_csv(clean_filepath + 'matrix_open_stop.csv')
matrix_corpus_stop = matrix_corpus_stop.set_index('doc')
matrix_corpus_stop.sample(5)

,16,1990s,1998,1999,20,2000,2005,2006,2007,2008,...,within,word,work,workers,worse,year,years,young,younger,youth
doc,,,,,,,,,,,,,,,,,,,,,
10.1177/2332858419884540,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10.1177/2332858419887735,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10.1177/2332858419883822,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10.1177/2332858419890326,0,0,0,0,0,0,0,0,0,0,...,0,4,2,0,0,0,0,0,0,0
10.1177/2332858419888892,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,4

In [24]:
similarity(results_corpus_stop,matrix_corpus_stop)
value = results_corpus_stop.doc_sim.mean().round(2)
print(value)
ws.cell(row= 2, column= 3).value = value
wb.save(file)
results_corpus_stop.sample(5)

0.09

,text,doc_sim
doc,,
10.1177/2332858419879448,Reconceiving relationships between universitie...,0.062029
10.1177/2332858419884540,This article examines associations between chi...,0.094389
10.1177/2332858419884905,This study examines the Association of America...,0.047783
10.1177/2332858419883822,Children develop their language when they expl...,0.071503
10.1177/2332858419879446,Perhaps more than at any other time in history...,0.126016

# Stop and Stem

In [25]:
results_corpus_stop_stem = docs.copy()
results_corpus_stop_stem.sample()

matrix_corpus_stop_stem = pd.read_csv(clean_filepath + 'matrix_open_stop_stem.csv')
matrix_corpus_stop_stem = matrix_corpus_stop_stem.set_index('doc')
matrix_corpus_stop_stem.sample(5)

similarity(results_corpus_stop_stem, matrix_corpus_stop_stem)
value = results_corpus_stop_stem.doc_sim.mean().round(2)
print(value)
ws.cell(row= 2, column= 4).value = value
wb.save(file)
results_corpus_stop_stem.sample(5)

0.18

,text,doc_sim
doc,,
10.1177/2332858416657343,NaN,0.219509
10.1177/2332858416673617,NaN,0.120148
10.1177/2332858416653924,NaN,0.235543
10.1177/2332858419879448,Reconceiving relationships between universitie...,0.182124
10.1177/2332858419888892,Although numerous survey-based studies have fo...,0.153160

# Stop Stem Weight

In [27]:
results_corpus_stop_stem_wgt = docs.copy()
results_corpus_stop_stem_wgt.sample()

matrix_corpus_stop_stem_wgt = pd.read_csv(clean_filepath + 'matrix_open_stop_stem_wgt.csv')
matrix_corpus_stop_stem_wgt = matrix_corpus_stop_stem_wgt.set_index('doc')
matrix_corpus_stop_stem_wgt.sample(5)

similarity(results_corpus_stop_stem_wgt, matrix_corpus_stop_stem_wgt)
value = results_corpus_stop_stem_wgt.doc_sim.mean().round(2)
print(value)
ws.cell(row= 2, column= 5).value = value
wb.save(file)
results_corpus_stop_stem_wgt.sample(5)

0.07

,text,doc_sim
doc,,
10.1177/2332858419887735,This special topic is intended to advance rese...,0.058548
10.1177/2332858419879446,Perhaps more than at any other time in history...,0.096151
10.1177/2332858419879448,Reconceiving relationships between universitie...,0.059212
10.1177/2332858419884905,This study examines the Association of America...,0.046513
10.1177/2332858419890322,"In this study, we extend research on the alloc...",0.054813

# LSA

In [28]:
results_corpus_lsa = docs.copy()
results_corpus_lsa.sample()

matrix_corpus = pd.read_csv(clean_filepath + 'matrix_open.csv')
matrix_corpus = matrix_corpus.set_index('doc')
matrix_corpus.sample(5)

,16,1990s,1998,1999,20,2000,2005,2006,2007,2008,...,within,word,work,workers,worse,year,years,young,younger,youth
doc,,,,,,,,,,,,,,,,,,,,,
10.1177/2332858419887736,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
10.1177/2332858419879448,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
10.1177/2332858419879446,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
10.1177/2332858419884905,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
10.1177/2332858419880521,0,1,0,0,0,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
lsa = TruncatedSVD(n_components = 100, random_state = 100)
lsa_fit = lsa.fit_transform(matrix_corpus)
lsa_fit = Normalizer(copy=False).fit_transform(lsa_fit)
print(lsa_fit.shape)
lsa_fit

(15, 15)

array([[ 0.79735611,  0.42738383, -0.01201728, -0.04235349, -0.16144033,
         0.04328135,  0.1874257 , -0.2896717 , -0.14549777, -0.05848671,
        -0.05437602, -0.03742103,  0.04491059,  0.03957993,  0.01108174],
       [ 0.63237081, -0.20302319, -0.01650887,  0.1288325 ,  0.03684476,
         0.07108476,  0.42712166,  0.30972781, -0.05746466, -0.04677253,
         0.09514866,  0.02109246,  0.47022519, -0.06869083, -0.12816161],
       [ 0.70244105,  0.00288976, -0.12396133,  0.07122592,  0.25548874,
        -0.05353885,  0.04465631, -0.18310071, -0.04634529,  0.41176056,
         0.16398282,  0.01409203, -0.04416966, -0.42139429,  0.06449812],
       [ 0.69724674, -0.15394926,  0.60771425, -0.22679991, -0.00575015,
        -0.10973784, -0.1159105 ,  0.03615011, -0.16280931,  0.04487564,
        -0.08141031,  0.05523277,  0.04640096, -0.01171824,  0.04566088],
       [ 0.77126528, -0.24262621, -0.03835951,  0.21327649,  0.02838948,
         0.16618021,  0.10324295,  0.05550513, -0.02311797, -0.11971066,
         0.14387152,  0.01328427, -0.0691258 ,  0.09091666,  0.4564839 ],
       [ 0.76786166, -0.09767198,  0.14840691,  0.00410753,  0.22734362,
        -0.02203165,  0.16177633,  0.00122761,  0.30846413, -0.01502089,
        -0.22410878, -0.38496894, -0.0791671 , -0.00644754, -0.01878828],
       [ 0.60266394,  0.05566057, -0.14996892, -0.02113115,  0.12161942,
        -0.01105376,  0.01235013, -0.07994026,  0.3906008 ,  0.00934331,
        -0.38989842,  0.51554378,  0.10670067, -0.02040636,  0.0839079 ],
       [ 0.67679361, -0.16444476, -0.05967819,  0.09672226,  0.25285113,
         0.02285588,  0.08502417, -0.07837169, -0.05158267,  0.42047663,
         0.08950358,  0.07941598, -0.05155013,  0.45888313, -0.13097343],
       [ 0.63450285,  0.28196705,  0.15823697, -0.33539545,  0.01165824,
        -0.17296961, -0.01104981,  0.00891884,  0.37498375, -0.10024377,
         0.43926636,  0.06235785,  0.00230485,  0.0428358 , -0.02775494],
       [ 0.6754232 , -0.01116066,  0.17458179,  0.1569583 , -0.17479341,
         0.11754023,  0.31720756,  0.2348117 , -0.05095985, -0.08227113,
         0.00744103,  0.2082873 , -0.43721434, -0.09444507, -0.18856819],
       [ 0.70961413, -0.24837683,  0.0882112 ,  0.1572618 , -0.2025774 ,
         0.46759677, -0.26506161, -0.17714814,  0.1213724 , -0.02931911,
         0.0669112 , -0.01652725,  0.06041905, -0.03873002, -0.12421423],
       [ 0.58777529,  0.51915121, -0.08481073,  0.00750247, -0.24456898,
         0.15403237, -0.19053122,  0.41908709,  0.04324167,  0.24459469,
        -0.07740121, -0.08760023,  0.02686378,  0.01595956,  0.07706791],
       [ 0.81246675, -0.26958292, -0.37904017, -0.25679288, -0.16116924,
        -0.14220102, -0.05719057,  0.02955297, -0.05653277, -0.02951006,
        -0.02781041, -0.02964633, -0.03045964, -0.00393547, -0.02460904],
       [ 0.66929432,  0.0514378 ,  0.02634983,  0.56628888, -0.08166486,
        -0.42514968, -0.17805596, -0.01158841,  0.0067876 , -0.0739214 ,
         0.01563113, -0.0057222 ,  0.0285531 ,  0.01045496, -0.04527849],
       [ 0.69287604,  0.21924183, -0.14487745, -0.03381716,  0.54748253,
         0.13691349, -0.2007558 ,  0.09657022, -0.17654904, -0.21079716,
         0.00115895,  0.0235545 , -0.02252389, -0.00780748, -0.06987246]])

In [30]:
## Each LSA component is a linear combo of words
word_weights = pd.DataFrame(lsa.components_, columns = matrix_corpus.columns)
word_weights.head()

,16,1990s,1998,1999,20,2000,2005,2006,2007,2008,...,within,word,work,workers,worse,year,years,young,younger,youth
0,-5.116552e-21,0.003401,-2.740484e-22,0.004469,0.011194,5.777232e-23,0.010204,-5.619768e-23,0.004319,0.004319,...,0.015719,0.017540,0.015385,0.004319,0.003094,0.003521,0.014380,0.006014,0.003094,0.027872
1,4.746571e-16,-0.000435,5.268704e-18,-0.012118,-0.028211,5.787575e-18,-0.001306,-1.085292e-18,0.002571,0.002571,...,0.034055,0.042999,0.013916,0.002571,-0.007696,0.000112,-0.023036,0.024972,-0.007696,-0.071647
2,7.045351e-16,0.007190,3.057333e-17,0.004543,-0.028304,2.440403e-18,0.021570,9.585608e-19,0.001390,0.001390,...,-0.007706,-0.029995,-0.020739,0.001390,-0.000661,-0.005081,-0.025855,-0.000741,-0.000661,-0.106341
3,2.203137e-16,0.007938,1.581295e-17,0.009946,-0.010381,5.960960e-18,0.023813,1.327229e-19,0.036694,0.036694,...,0.008233,-0.008597,0.005617,0.036694,0.006330,0.003585,0.020908,-0.003208,0.006330,-0.088465
4,-2.169310e-16,-0.009764,-6.726716e-17,-0.014152,-0.013608,3.802721e-18,-0.029293,-5.204334e-19,-0.005845,-0.005845,...,-0.013449,0.153747,0.093079,-0.005845,0.002000,0.014206,-0.019179,-0.013507,0.002000,-0.061332

In [31]:
## Each document is a linear combination of components
matrix_corpus_lsa = pd.DataFrame(lsa_fit, index = matrix_corpus.index, columns = word_weights.index)
matrix_corpus_lsa.sample(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
doc,,,,,,,,,,,,,,,
10.1177/2332858419884905,0.676794,-0.164445,-0.059678,0.096722,0.252851,0.022856,0.085024,-0.078372,-0.051583,0.420477,0.089504,0.079416,-0.051550,0.458883,-0.130973
10.1177/2332858419884891,0.634503,0.281967,0.158237,-0.335395,0.011658,-0.172970,-0.011050,0.008919,0.374984,-0.100244,0.439266,0.062358,0.002305,0.042836,-0.027755
10.1177/2332858419884540,0.602664,0.055661,-0.149969,-0.021131,0.121619,-0.011054,0.012350,-0.079940,0.390601,0.009343,-0.389898,0.515544,0.106701,-0.020406,0.083908
10.1177/2332858419887735,0.709614,-0.248377,0.088211,0.157262,-0.202577,0.467597,-0.265062,-0.177148,0.121372,-0.029319,0.066911,-0.016527,0.060419,-0.038730,-0.124214
10.1177/2332858419875440,0.697247,-0.153949,0.607714,-0.226800,-0.005750,-0.109738,-0.115910,0.036150,-0.162809,0.044876,-0.081410,0.055233,0.046401,-0.011718,0.045661

In [33]:
similarity(results_corpus_lsa,  matrix_corpus_lsa)
value = results_corpus_lsa.doc_sim.mean().round(2)
print(value)
ws.cell(row= 2, column= 6).value = value
wb.save(file)
results_corpus_lsa.sample(5)

0.45

,text,doc_sim
doc,,
10.1177/2332858419884891,"Over the past decade, U.S. immigration enforce...",0.409837
10.1177/2332858419884540,This article examines associations between chi...,0.402259
10.1177/2332858419875440,There is growing interest in the relation betw...,0.439461
10.1177/2332858419890326,Handwriting practice is the most time-consumin...,0.451404
10.1177/2332858419883822,Children develop their language when they expl...,0.507582

# LSA and Weighting

In [34]:
results_corpus_wgt_lsa = docs.copy()
results_corpus_wgt_lsa.sample()

matrix_corpus_wgt = pd.read_csv(clean_filepath + 'matrix_open_wgt.csv')
matrix_corpus_wgt = matrix_corpus_wgt.set_index('doc')
matrix_corpus_wgt.sample(5)

lsa = TruncatedSVD(n_components = 100, random_state = 100)
lsa_fit = lsa.fit_transform(matrix_corpus_wgt)
lsa_fit = Normalizer(copy=False).fit_transform(lsa_fit)
print(lsa_fit.shape)
lsa_fit

## Each LSA component is a linear combo of words
word_weights = pd.DataFrame(lsa.components_, columns = matrix_corpus_wgt.columns)
word_weights.head()

## Each document is a linear combination of components
matrix_corpus_wgt_lsa = pd.DataFrame(lsa_fit, index = matrix_corpus_wgt.index, columns = word_weights.index)
matrix_corpus_wgt_lsa.sample(5)

similarity(results_corpus_wgt_lsa, matrix_corpus_wgt_lsa)
value = results_corpus_wgt_lsa.doc_sim.mean().round(2)
print(value)
ws.cell(row= 2, column= 7).value = value
wb.save(file)

(15, 15)
0.15

# Stop, Weight, and LSA

In [35]:
results_corpus_stop_wgt_lsa = docs.copy()
results_corpus_stop_wgt_lsa.sample()

matrix_corpus_stop_wgt = pd.read_csv(clean_filepath + 'matrix_open_stop_wgt.csv')
matrix_corpus_stop_wgt = matrix_corpus_stop_wgt.set_index('doc')
matrix_corpus_stop_wgt.sample(5)

lsa = TruncatedSVD(n_components = 100, random_state = 100)
lsa_fit = lsa.fit_transform(matrix_corpus_stop_wgt)
lsa_fit = Normalizer(copy=False).fit_transform(lsa_fit)
print(lsa_fit.shape)
lsa_fit

## Each LSA component is a linear combo of words
word_weights = pd.DataFrame(lsa.components_, columns = matrix_corpus_stop_wgt.columns)
word_weights.head()

## Each document is a linear combination of components
matrix_corpus_stop_wgt_lsa = pd.DataFrame(lsa_fit, index = matrix_corpus_stop_wgt.index, columns = word_weights.index)
matrix_corpus_stop_wgt_lsa.sample(5)

similarity(results_corpus_stop_wgt_lsa, matrix_corpus_stop_wgt_lsa)
value = results_corpus_stop_wgt_lsa.doc_sim.mean().round(2)
print(value)
ws.cell(row= 2, column= 8).value = value
wb.save(file)

(15, 15)
0.05